/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFD2; /* Butter color */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #AA96DA;
}

h2 {
    text-align: center;
    color: #AA96DA;
    margin-bottom: 30px;
}

/* Container and Columns */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.column {
    background-color: #AA96DA; /* Light Purple for column background */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    max-width: 30%;
    text-align: center;
    color: #C5FAD5; /* Darker text color for readability */
}

h3 {
    color: #C5FAD5;
}

/* Counter Styling */
.counter {
    font-size: 24px;
    font-weight: bold;
    color: #C5FAD5;
    margin-top: 10px;
    cursor: pointer;
}

/* Slider Styling */
.slider-container {
    width: 100%;
    height: 200px;
    background-color: #AA96DA; /* Mint for slider background */
    position: relative;
    overflow: hidden;
    border: 1px solid #AA96DA;
}

.slider-square {
    width: 200px;
    height: 200px;
    background-color: #C5FAD5; /* Light Purple for square */
    position: absolute;
    left: 0;
    top: 0;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        max-width: 100%;
    }
}
