/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #F8B195;
    margin: 0;
    padding: 0;
}

header {
    background-color: #355c7d; /* Dark blue */
    color: #ffffff; /* White */
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: white
}

header h2 {
    margin: 0;
    font-size: 18px;
    color: white
}

nav ul {
    list-style: none;
    padding: 0
    
    
}

nav ul li {
    display: inline;
    margin: 0 10px;
    color: white;
}

nav ul li a {
    color: #ffffff; /* White */
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.assignment, .project {
    background-color:#F67280; /* White */
    border: 1px solid #dddddd; /* Light grey border */
    padding: 15px;
    border-radius: 8px;
}

.assignment img, .project img {
    max-width: 100%;
    height: auto;
    border: 1px solid #dddddd; /* Light grey border */
    border-radius: 4px;
}

h3 {
    background-color: #355c7d; /* Dark blue */
    color: #ffffff; /* White */
    padding: 10px;
    margin: 0;
}

h4 {
    color: white; /* white */
}

a {
    color: white; /* white */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Placeholder for additional project styles */
.project img {
    max-width: 100%;
    height: auto;
    border: 1px solid #dddddd; /* Light grey border */
    border-radius: 4px;
}

