body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7632eb;
    color: #ddd;
}

header {
    background-color: #333;
    color:#7632eb ;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.assignment {
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 5px #ddd(0, 0, 0, 0.1);
    text-align: center;
}

.assignment img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Add this code to set the image sizes */
.assignment img {
    width: 300px;   /* Set the width */
    height: 150px;  /* Set the height */
    object-fit: cover;  /* Ensures the image covers the entire area */
    border-radius: 5px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .assignment {
        width: 90%;
    }
}

